body {
  background-color: #1b507a;
  margin: 25px 0;
}

h1 {
  text-align: center;
  color: white;
  text-shadow: black 2px 2px 2px;
  position: absolute;
  bottom: 50px;
  width: 1000px;
  margin: 0 auto;
}

.logo{
  width: 50%;
  border: 5px solid #1b507a;
}

h2 {
    font-family: "Georgia",serif;
    color: white;
    font-size:19px;
}

p {
  font-size: 18px;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 5px;
  width: 1000px;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  z-index: 5;
}

.image_container {
  z-index: 5;
}

.image {
  width: 1000px;
  position: absolute;
}

.hide {
  opacity: 0;
}

#image1 {
  opacity: 1;
}

img{
  border: 5px solid white;
}