body {
  background-color: #1b507a;
  margin: 25px 0;
}

h1 {
  font-family: Georgia, serif;
  text-align: center;
  color: white;
  text-shadow: black 2px 2px 2px;
  position: absolute;
  top: 550px;
  width: 700px;
  margin: 0 auto;
}

.logo{
  width: 50%;
  border: 5px solid #1b507a;
}

h2 {
    font-family: "Georgia",serif;
    color: white;
    font-size:19px;
}

p {
  font-family: Georgia, serif;
  font-size: 18px;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 10px;
  width: 700px;
}

.wrapper {
  width: 700px;
  margin: 0 auto;
  z-index: 5;
}

.image_container {
  z-index: 5;
}

.image {
  width: 700px;
  position: absolute;
}

.hide {
  opacity: 0;
}

<<<<<<< HEAD
#image1 {
  opacity: 1;
}

img{
  border: 5px solid white;
=======
.imagecontainer {
  width: 700px;
>>>>>>> 5aec8a81c37f4401f53c94b4e10df64361ee0541
}